/** サイトデザイン **/
body{
	position: absolute center;
	height: 100%;
}
a{
	color: #000000;
	text-decoration: none;
}
/** レイアウト **/
div#header{
	width: 900px;
	height: 50px;
	margin: 0 auto;
}

div#footer{
	width: 900px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

div#contents{
	margin: 0 auto;
	padding: 10px;
	position: absolute center;
	width: 900px;
	height: 100%;
	border: solid 1px;
}

div#calendar{
	height: 400px;
}

div#news{
	height: 200px
}

div#menu{
	width: 900px;
	height: 30px;
	margin: 0 auto;
}

table#menu{
	width: 100%;
	height: 100%;
}
td.tab{
	width: 80px;
	text-align: center;
	background-color: #666666;
}
td.tab_selected{
	width: 80px;
	text-align: center;
	background-color: #999999;
}
/** 検索エリアレイアウト **/
select.kamoku_id{
	position: absolute left;
}
select.kyokasyo_id{
	position: absolute left;
}
input.page_start{
	
}
input.page_end{
	
}

/** ニュースエリアレイアウト **/
th.date{ width: 20px; }
th.mess{ width: 60px; }

/** 小物 **/
hr{ width: 98%; }