@(kamokuForm: Form[models.DBTables.Kamoku], kamokuList: List[models.DBTables.Kamoku])
@import helper._

@main(){
  <h2>科目管理</h2>
  <hr>
  @* 科目IDは見えなくてもいい？編集不可にする予定だし *@
  @* 編集を押すとフォームが出て、ひとつずつ編集→更新としてもらう感じ *@
  @if(kamokuList.isEmpty) { 登録されている科目はありません } else {
  <table>
    <tr><th>科目名</th><th></th></tr>
    @for(kamoku <- kamokuList) {
    <tr><td>@kamoku.kamoku_mei</td><td>　<a href="@kamoku.kamoku_id">編集</a>　<a href="/">削除</a>　</td></tr>
    }
  </table>
  }
  <div>
    <h3>新規登録</h3>
    @helper.form(action = routes.ManageApplication.sbjCreate) {
      <input type="hidden" name="kamoku_id" value="0"/>
      <input type="text" name="kamoku_mei" value="@kamokuForm("kamoku_mei").value" size="20"/>
      <input type="submit" value="登録">
    }
  </div>
  <a href="@routes.ManageApplication.top">戻る</a>
}