@(searchForm: Form[SearchOption])
@import helper._
<div id="search">
@helper.form(action = routes.Application.search) {
  <label for="kamoku_id">科目</label>
  <select name="kamoku_id">
    <option value="1">英語</option>
    <option value="2">国語</option>
    <option value="3">数学</option>
    <option value="4">理科</option>
    <option value="5">社会</option>
  </select><br />
  <label for="kyokasyo_id">教科書</label>
  <select name="kyokasyo_id">
    <option value="1">あ</option>
    <option value="2">い</option>
    <option value="3">う</option>
    <option value="4">え</option>
    <option value="5">お</option>
  </select><br />
  <label for="page_start">開始ページ</label><input type="text" name="page_start" size="20"><br />
  <label for="page_end">終了ページ</label><input type="text" name="page_end" size="20"><br />
  <label for="keyword">キーワード</label><input type="text" name="keyword" size="60"><br />
  <label for="tag">タグ</label><input type="text" name="tag" size="60"><br />
  <input type="submit" value="検索" />
}
</div>